.webMap {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 4px;
        background-color: #b174e7;
        display: flex;

    }

    ul {
        li {
            flex-grow: 1;

            &:first-child {
                flex-grow: 40;
            }

            a {
                display: block;
                color: white;
                padding: 14px 16px;
                text-decoration: none;
            }
        }
    }

    ul li a:hover {
        background-color: #a86cde;
    }

    .homeUl{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #b174e7;
        display: flex;

        li {
            flex-grow: 0;

            &:first-child {
                flex-grow: 0;
            }

        }

    }
}

body{
    background-color: #D3BDB0;
}